@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-2xl mb-2 sm:text-lg;
}
h2 {
  @apply text-lg mb-2 sm:text-base;
}
p {
  @apply text-justify;
}
li {
  @apply list-disc list-inside;
}

@layer components {
  .btn-custom {
    a {
      padding: 5px 10px;
      border: 2px solid #008000;
      background-color: #008000;
      color: #fff;
      border-radius: 0.25rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: #4ca64c;
      }
    }
  }
}
